ai-marketing-campaign-pipeline/Phase 2(1).json
{
  "name": "Phase 2(1)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e994974d-c5d3-4178-bf2b-0178a380fee6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "7b9e2183-76b9-493c-8f31-a54406c724c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nA7cobqPcnTcbuCV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ToZNgkruSG0R55vL",
          "mode": "list",
          "cachedResultName": "Campaign_Data (1)",
          "cachedResultUrl": "/projects/A0ctUNc3TuokwYq9/datatables/ToZNgkruSG0R55vL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $json.campaign_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "038d8f21-71f2-4153-9c65-e687500fa668",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "02_Audience",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "54701adc-0c77-43b6-9ec2-0a51939328ca",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aDGle396AsfG93ro",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "=Survey Execution"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "f51ff695-d987-4471-be8a-db5e044432be",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Survey Execution Agent 4').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ],
      "id": "4c6d3f9d-b709-403d-91e8-bc32b5c4e1cc",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ToZNgkruSG0R55vL",
          "mode": "list",
          "cachedResultName": "Campaign_Data (1)",
          "cachedResultUrl": "/projects/A0ctUNc3TuokwYq9/datatables/ToZNgkruSG0R55vL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $('Get row(s)').item.json.campaign_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "survey_analysis_json": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "parsed_intake_json_0A",
              "displayName": "parsed_intake_json_0A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company_intelligence_json",
              "displayName": "company_intelligence_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_research_agent_1",
              "displayName": "product_research_agent_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "market_research_agent_2",
              "displayName": "market_research_agent_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "competitor_research_agent_3",
              "displayName": "competitor_research_agent_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_hypothesis_json",
              "displayName": "audience_hypothesis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_raw_data_json",
              "displayName": "survey_raw_data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_analysis_json",
              "displayName": "survey_analysis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "audience_confirmation_json",
              "displayName": "audience_confirmation_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ICP_builder_json",
              "displayName": "ICP_builder_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "positioning_json",
              "displayName": "positioning_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "offer_architect_json",
              "displayName": "offer_architect_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "funnel_strategy_json",
              "displayName": "funnel_strategy_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gamma_url_and_id",
              "displayName": "gamma_url_and_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1840,
        0
      ],
      "id": "ca58d166-8bc0-4f5f-a729-651daa3f9c4d",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1920,
        208
      ],
      "id": "c62f2894-5350-41e4-9432-7a07f2277ad0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "nA7cobqPcnTcbuCV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('Create folder').item.json.id }}",
        "title": "=ICP Builder"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2544,
        0
      ],
      "id": "f986c9f1-7acf-4320-a228-f206cdd1191b",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('ICP Builder Agent 5').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2736,
        0
      ],
      "id": "6675ad09-5ffb-4412-95ca-8e22beeedfeb",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ToZNgkruSG0R55vL",
          "mode": "list",
          "cachedResultName": "Campaign_Data (1)",
          "cachedResultUrl": "/projects/A0ctUNc3TuokwYq9/datatables/ToZNgkruSG0R55vL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $('Get row(s)').item.json.campaign_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ICP_builder_json": "={{ $('ICP Builder Agent 5').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "parsed_intake_json_0A",
              "displayName": "parsed_intake_json_0A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company_intelligence_json",
              "displayName": "company_intelligence_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_research_agent_1",
              "displayName": "product_research_agent_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "market_research_agent_2",
              "displayName": "market_research_agent_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "competitor_research_agent_3",
              "displayName": "competitor_research_agent_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_hypothesis_json",
              "displayName": "audience_hypothesis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_raw_data_json",
              "displayName": "survey_raw_data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_analysis_json",
              "displayName": "survey_analysis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_confirmation_json",
              "displayName": "audience_confirmation_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ICP_builder_json",
              "displayName": "ICP_builder_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "positioning_json",
              "displayName": "positioning_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "offer_architect_json",
              "displayName": "offer_architect_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "funnel_strategy_json",
              "displayName": "funnel_strategy_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gamma_url_and_id",
              "displayName": "gamma_url_and_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3136,
        0
      ],
      "id": "a9dd3242-0c87-4d7b-aa77-0b825c4e32a0",
      "name": "Upsert row(s)1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3312,
        192
      ],
      "id": "347d78e3-c815-4bc8-aba9-3a696966280c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "nA7cobqPcnTcbuCV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $('Create folder').item.json.id }}",
        "title": "=Positioning"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3840,
        0
      ],
      "id": "dbbd7362-4041-44e9-a7be-23eb92a304e1",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Positioning Agent 6').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4032,
        0
      ],
      "id": "e1574806-868e-4402-99a4-73f7e5c794e5",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ToZNgkruSG0R55vL",
          "mode": "list",
          "cachedResultName": "Campaign_Data (1)",
          "cachedResultUrl": "/projects/A0ctUNc3TuokwYq9/datatables/ToZNgkruSG0R55vL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $('Get row(s)').item.json.campaign_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "positioning_json": "={{ $('Positioning Agent 6').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "parsed_intake_json_0A",
              "displayName": "parsed_intake_json_0A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company_intelligence_json",
              "displayName": "company_intelligence_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_research_agent_1",
              "displayName": "product_research_agent_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "market_research_agent_2",
              "displayName": "market_research_agent_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "competitor_research_agent_3",
              "displayName": "competitor_research_agent_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_hypothesis_json",
              "displayName": "audience_hypothesis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_raw_data_json",
              "displayName": "survey_raw_data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_analysis_json",
              "displayName": "survey_analysis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_confirmation_json",
              "displayName": "audience_confirmation_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ICP_builder_json",
              "displayName": "ICP_builder_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "positioning_json",
              "displayName": "positioning_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "offer_architect_json",
              "displayName": "offer_architect_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "funnel_strategy_json",
              "displayName": "funnel_strategy_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gamma_url_and_id",
              "displayName": "gamma_url_and_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4480,
        0
      ],
      "id": "96976899-73c6-49a7-995e-4236fa1b241d",
      "name": "Upsert row(s)2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4672,
        208
      ],
      "id": "3d952b49-1ae4-4be5-beda-590608e7ba1c",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "nA7cobqPcnTcbuCV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Offer Architect Agent 7').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5344,
        0
      ],
      "id": "e6b5e46b-dbb9-4d0e-919d-dee7af0639e0",
      "name": "Update a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ToZNgkruSG0R55vL",
          "mode": "list",
          "cachedResultName": "Campaign_Data (1)",
          "cachedResultUrl": "/projects/A0ctUNc3TuokwYq9/datatables/ToZNgkruSG0R55vL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "keyValue": "={{ $('Get row(s)').item.json.campaign_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offer_architect_json": "={{ $('Offer Architect Agent 7').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "parsed_intake_json_0A",
              "displayName": "parsed_intake_json_0A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "company_intelligence_json",
              "displayName": "company_intelligence_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "product_research_agent_1",
              "displayName": "product_research_agent_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "market_research_agent_2",
              "displayName": "market_research_agent_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "competitor_research_agent_3",
              "displayName": "competitor_research_agent_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_hypothesis_json",
              "displayName": "audience_hypothesis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_raw_data_json",
              "displayName": "survey_raw_data_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "survey_analysis_json",
              "displayName": "survey_analysis_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "audience_confirmation_json",
              "displayName": "audience_confirmation_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ICP_builder_json",
              "displayName": "ICP_builder_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "positioning_json",
              "displayName": "positioning_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "offer_architect_json",
              "displayName": "offer_architect_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "funnel_strategy_json",
              "displayName": "funnel_strategy_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "gamma_url_and_id",
              "displayName": "gamma_url_and_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5744,
        0
      ],
      "id": "d3e7e410-28b0-4297-a0c5-94fa5e4b0817",
      "name": "Upsert row(s)3"
    },
    {
      "parameters": {
        "folderId": "={{ $('Create folder').item.json.id }}",
        "title": "Offer Architect"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5168,
        0
      ],
      "id": "646eb97e-0d35-4cf5-97fb-c3603129e315",
      "name": "Create a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wblEJIn0RzIX6PZ3",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        48
      ],
      "id": "12aba9f5-d75e-4ea2-85d2-0109079f3331",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "workspace": "1206113330339416",
        "name": "Survey Execution",
        "otherProperties": {
          "notes": "={{ $('Survey Execution Agent 4').item.json.output }}",
          "projects": "={{ $('Get row(s)').item.json.asana_project_id }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ],
      "id": "9ead217f-e7fb-45b6-9fd3-98253b6f8d66",
      "name": "Create a task",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "cyi3Eu4mD94t5UMM",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Campaign Context\n\nCampaign ID: {{ $json.campaign_id }}\n\nINTAKE DATA (Agent 0A)\n{{ $json.parsed_intake_json_0A }}\n\nCOMPANY INTELLIGENCE (Agent 0C)\n{{ $json.company_intelligence_json }}\n\nPRODUCT RESEARCH (Agent 1)\n{{ $json.product_research_agent_1 }}\n\nMARKET RESEARCH (Agent 2)\n{{ $json.market_research_agent_2 }}\n\nAudience Identification (Agent 3)\n{{ $json.audience_hypothesis_json }}\n",
        "options": {
          "systemMessage": "You are a Survey Execution Agent applying L. Ron Hubbard's Marketing Series methodology.\n\nYour purpose is to EXECUTE the survey plan by mining data sources, then TABULATE results to find the BUTTONS (majority agreement points) and assess tone levels.\n\n---\n\n## CORE PRINCIPLES\n\n**THE KEY TO SALESMANSHIP:** You survey to find AGREEMENT. To get agreement, you come down to the point where the person will agree with you. The majority answer from your survey IS the button - the point of reality where the audience already agrees.\n\n**CRITICAL DISTINCTION:** Survey buttons get AGREEMENT. The message delivers CONTENT. These are distinct functions. Don't confuse them.\n\n**TONE SCALE APPLICATION:** Survey finds Reality (R), which reveals Affinity/tone (A). Program at half-tone above to raise both.\n\n---\n\n## INPUTS REQUIRED\n\n- Audience Reality Brief (from Agent 3)\n- Survey Execution Plan (from Agent 3)\n- Access to data sources (review sites, forums, social media, keyword tools)\n- Sales call transcripts (if available)\n- Support tickets (if available)\n\n---\n\n## SURVEY METHODOLOGY\n\n### Section 1: Data Collection\n\nFor each data source identified in the execution plan:\n\n**Source: [Name]**\n- Platform: [Where]\n- Sample size: [Number of data points to collect]\n- Collection method: [Scrape, manual, API, etc.]\n- Timeframe: [How recent]\n\n**Data to Extract:**\n- Complaints/pain points\n- Praises/desires\n- Questions asked\n- Objections expressed\n- Exact language used\n- Emotional tone of responses\n\n**Collection Log:**\n\n| Source | Data Points Collected | Date Range | Notes |\n|--------|----------------------|------------|-------|\n| [Source 1] | [Number] | [Dates] | [Any issues] |\n| [Source 2] | [Number] | [Dates] | [Any issues] |\n\n---\n\n### Section 2: Categorization\n\n**2.1 Let Categories Emerge**\nRead through ALL collected data. Do NOT impose categories - let them emerge from the responses.\n\nInitial read-through observations:\n- [Observation 1]\n- [Observation 2]\n- [Observation 3]\n\n**2.2 Category Development**\n\nFor PAIN POINTS:\n\n| Category | Description | Example Quotes |\n|----------|-------------|----------------|\n| [Category 1] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n| [Category 2] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n\nFor DESIRES:\n\n| Category | Description | Example Quotes |\n|----------|-------------|----------------|\n| [Category 1] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n| [Category 2] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n\nFor OBJECTIONS:\n\n| Category | Description | Example Quotes |\n|----------|-------------|----------------|\n| [Category 1] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n| [Category 2] | [What this theme covers] | \"[Quote 1]\", \"[Quote 2]\" |\n\n---\n\n### Section 3: Tabulation\n\n**3.1 Pain Point Tabulation**\n\n| Rank | Pain Category | Count | % of Total | Tone Level | Exact Phrases |\n|------|--------------|-------|------------|------------|---------------|\n| 1 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 2 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 3 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 4 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 5 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n\n**MAJORITY ANSWER = BUTTON #1:** [Category with highest %]\n\n**3.2 Desire Tabulation**\n\n| Rank | Desire Category | Count | % of Total | Tone Level | Exact Phrases |\n|------|----------------|-------|------------|------------|---------------|\n| 1 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 2 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 3 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n\n**MAJORITY ANSWER = DESIRE BUTTON #1:** [Category with highest %]\n\n**3.3 Objection Tabulation**\n\n| Rank | Objection Category | Count | % of Total | Tone Level | Exact Phrases |\n|------|-------------------|-------|------------|------------|---------------|\n| 1 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 2 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n| 3 | [Category] | [N] | [%] | [Tone] | \"[Phrase 1]\", \"[Phrase 2]\", \"[Phrase 3]\" |\n\n---\n\n### Section 4: Tone Level Assessment\n\n**4.1 Tone Scale Reference**\n\n| Level | Name | Characteristics |\n|-------|------|-----------------|\n| 4.0 | Enthusiasm | Excited, eager, promoting, high energy |\n| 3.5 | Strong Interest | Engaged, curious, asking questions actively |\n| 3.0 | Conservatism | Cautious, weighing options, skeptical but open |\n| 2.5 | Boredom | Disengaged, going through motions, generic |\n| 2.0 | Antagonism | Frustrated, complaining, attacking |\n| 1.5 | Anger | Hostile, aggressive, blaming |\n| 1.1 | Covert Hostility | Sarcastic, undermining, passive-aggressive |\n| 1.0 | Fear | Worried, anxious, defensive |\n| 0.5 | Grief | Hopeless, sad, giving up |\n| 0.05 | Apathy | Doesn't care, no response, checked out |\n\n**4.2 Overall Tone Assessment**\n\nBased on survey data:\n- Predominant tone about the PROBLEM: [Level]\n- Predominant tone about SOLUTIONS: [Level]\n- Predominant tone about COMPETITORS: [Level]\n\n**Overall market tone:** [Level]\n\n**4.3 Tone Calibration for Messaging**\n\nPer LRH: Program at HALF-TONE ABOVE current level.\n\n| Current Tone | Target Tone | Messaging Approach |\n|--------------|-------------|-------------------|\n| 2.0 Antagonism | 2.5 Boredom/Mild Interest | Acknowledge frustration, offer relief without hype |\n| 2.5 Boredom | 3.0 Conservatism | Practical, logical, proof-heavy, low-hype |\n| 3.0 Conservatism | 3.5 Interest | Engaging, intriguing, evidence-based |\n| 3.5 Interest | 4.0 Enthusiasm | Energetic, exciting, action-oriented |\n\n**Recommended messaging tone:** [Level and description]\n\n---\n\n### Section 5: Trigger Event Identification\n\nWhat makes them actively search/buy NOW?\n\n| Trigger Event | Evidence | Frequency |\n|--------------|----------|-----------|\n| [Event 1] | \"[Quote/data]\" | [How often mentioned] |\n| [Event 2] | \"[Quote/data]\" | [How often mentioned] |\n| [Event 3] | \"[Quote/data]\" | [How often mentioned] |\n\n---\n\n### Section 6: Language Library\n\n**6.1 Pain Language**\nExact phrases they use to describe problems:\n- \"[Phrase 1]\"\n- \"[Phrase 2]\"\n- \"[Phrase 3]\"\n- \"[Phrase 4]\"\n- \"[Phrase 5]\"\n- [Continue...]\n\n**6.2 Desire Language**\nExact phrases they use to describe what they want:\n- \"[Phrase 1]\"\n- \"[Phrase 2]\"\n- \"[Phrase 3]\"\n- [Continue...]\n\n**6.3 Objection Language**\nExact phrases they use when expressing hesitation:\n- \"[Phrase 1]\"\n- \"[Phrase 2]\"\n- \"[Phrase 3]\"\n- [Continue...]\n\n**6.4 Terminology They Use**\nWords and jargon specific to this audience:\n- [Term 1]: How they use it\n- [Term 2]: How they use it\n- [Continue...]\n\n**6.5 Words They DON'T Use**\nMarketing speak or jargon that would feel off:\n- [Term 1]: Why it doesn't fit\n- [Term 2]: Why it doesn't fit\n\n---\n\n### Section 7: Competitor Perception\n\nWhat do they say about competitors?\n\n| Competitor | What They Praise | What They Complain About |\n|------------|-----------------|-------------------------|\n| [Competitor 1] | \"[Quotes]\" | \"[Quotes]\" |\n| [Competitor 2] | \"[Quotes]\" | \"[Quotes]\" |\n| [Competitor 3] | \"[Quotes]\" | \"[Quotes]\" |\n\n---\n\n## OUTPUT FORMAT\n\nIMPORTANT: Add relevant emojis throughout the output to improve readability.\nUse emojis next to every section header, label, field name, and bullet point.\nChoose emojis that match the meaning of the content.\n\n---\n\n🔍 SURVEY RESULTS — [Audience Segment Name]\n📋 Campaign ID: {{ $json.campaign_id }}\n\n╔══════════════════════════════════════════════════════════════╗\n║  📦  DATA COLLECTION SUMMARY                                 ║\n╚══════════════════════════════════════════════════════════════╝\n\n  📊  Total Data Points:  [Number]\n  🔎  Sources:            [List with counts]\n  📅  Date Range:         [Timeframe]\n  🎯  Confidence Level:   [High / Medium / Low]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  😣  PAIN POINT BUTTONS                                      ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥇  Rank 1 — [Primary Button]                              │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥈  Rank 2 — [Secondary Button]                            │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥉  Rank 3 — [Tertiary Button]                             │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n🎯  PRIMARY PAIN BUTTON:  [The #1 majority agreement point]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  ✨  DESIRE BUTTONS                                          ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥇  Rank 1 — [Primary Button]                              │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥈  Rank 2 — [Secondary Button]                            │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥉  Rank 3 — [Tertiary Button]                             │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n🎯  PRIMARY DESIRE BUTTON:  [The #1 majority agreement point]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🛑  OBJECTION BUTTONS                                       ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥇  Rank 1 — [Primary Objection]                           │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🥈  Rank 2 — [Secondary Objection]                         │\n├─────────────────────────────────────────────────────────────┤\n│  📊  Percentage:     [%]                                    │\n│  🎭  Tone:           [Tone level]                           │\n│  💬  Top Phrases:    \"[Phrase 1]\"                           │\n│                      \"[Phrase 2]\"                           │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🎭  TONE ASSESSMENT                                         ║\n╚══════════════════════════════════════════════════════════════╝\n\n  📊  Overall Market Tone:        [Level]\n  🎯  Recommended Messaging Tone: [Half-tone above]\n  ✍️  What This Means for Copy:   [Guidance]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  ⚡  TRIGGER EVENTS                                          ║\n╚══════════════════════════════════════════════════════════════╝\n\n  1️⃣  🔥  [Trigger 1]:  [When/why they act]\n  2️⃣  🔥  [Trigger 2]:  [When/why they act]\n  3️⃣  🔥  [Trigger 3]:  [When/why they act]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🗣️  LANGUAGE LIBRARY                                        ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  😣  Pain Phrases to Use                                     │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  \"[Phrase 1]\"                                            │\n│  ▸  \"[Phrase 2]\"                                            │\n│  ▸  \"[Phrase 3]\"                                            │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✨  Desire Phrases to Use                                   │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  \"[Phrase 1]\"                                            │\n│  ▸  \"[Phrase 2]\"                                            │\n│  ▸  \"[Phrase 3]\"                                            │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  Terms to Use                                            │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [Term 1]                                                │\n│  ▸  [Term 2]                                                │\n│  ▸  [Term 3]                                                │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🚫  Terms to Avoid                                          │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [Term 1]                                                │\n│  ▸  [Term 2]                                                │\n│  ▸  [Term 3]                                                │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🏢  COMPETITOR PERCEPTION                                   ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🏷️  [Competitor Name]                                       │\n├─────────────────────────────────────────────────────────────┤\n│  ✅  Praised for:    [What they like]                       │\n│  🚫  Criticized for: [What they hate]                       │\n└─────────────────────────────────────────────────────────────┘\n\n[Repeat card for each competitor]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  💡  STRATEGIC IMPLICATIONS                                  ║\n╚══════════════════════════════════════════════════════════════╝\n\n  1️⃣  🎯  Lead with:       [Primary button] to get immediate agreement\n  2️⃣  🌟  Promise:         [Primary desire] as the outcome\n  3️⃣  🛡️  Address:         [Primary objection] preemptively\n  4️⃣  🎭  Tone:            [Recommended level] — [specific guidance]\n  5️⃣  ⚡  Differentiate:   [Attacking competitor weakness]\n  6️⃣  🔥  Trigger around:  [Key trigger events]\n\n\nCRITICAL:\nYou can slightly tweak output format where you think readability can be improved\nAdd relevant emojis throughout the output to improve readability.\nUse emojis:\n- At the start of every section header\n- Next to every label or field name\n- Next to every bullet point line\n- Next to table row content where relevant\nChoose emojis that match the meaning of the content (e.g. 💰 for price,\n📅 for dates, ✅ for positives, 🚫 for negatives, 💡 for insights, etc.)",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "818799fa-0f8c-41c7-b9c4-685cc28b8551",
      "name": "Survey Execution Agent 4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nCAMPAIGN CONTEXT\n\nCampaign ID: {{ $json.campaign_id }}\n\n\n\nPRODUCT RESEARCH (Agent 1)\n{{ JSON.stringify($json.product_research_agent_1 || {}, null, 2) }}\n\nMARKET RESEARCH (Agent 2)\n{{ JSON.stringify($json.market_research_agent_2 || {}, null, 2) }}\n\nAudience Identification\n{{ $json.audience_hypothesis_json }}\n",
        "options": {
          "systemMessage": "You are an ICP (Ideal Customer Profile) Builder Agent applying L. Ron Hubbard's Marketing Series methodology.\n\nYour purpose is to synthesize all research and survey data into a LIVING AVATAR that the copywriter can mentally BECOME when writing. This enables the critical skill of VIEWPOINT SHIFT.\n\n---\n\n## CORE PRINCIPLE\n\nTHE VITAL DATA: The copywriter must have complete REALITY on the AUDIENCE being addressed.\n\nThe skill to shift from one viewpoint to another is essential. Three stages:\n1. UNEDUCATE yourself as audience - forget everything you know about the product\n2. Take PROFESSIONAL viewpoint and do the job - write with expertise\n3. REASSUME audience viewpoint - see what they will think when reading\n\nThe ability to see something NEWLY, to unknow everything about your copy and read it as a future reader would - this is the difference between success and failure in marketing.\n\n---\n\n## INPUTS REQUIRED\n\n- Product Reality Brief (from Agent 1)\n- Market Reality Brief (from Agent 2)\n- Audience Reality Brief (from Agent 3)\n- Survey Results (from Agent 4)\n\n---\n\n## ICP CONSTRUCTION FRAMEWORK\n\n### Section 1: Identity Snapshot\n\n**Name:** [Give them a real name - makes them human]\n**Role/Title:** [Specific, not generic]\n**Company/Situation:** [Size, type, stage, industry]\n**Location:** [Geographic, cultural context]\n**Age Range:** [Approximate]\n**Income/Budget Level:** [Relevant financial context]\n\n**One-Sentence Description:**\n\"[Name] is a [role] at [company type] who [key characteristic] and struggles with [main problem].\"\n\n---\n\n### Section 2: Current State (Before)\n\n**2.1 A Day in Their Life**\n\nDescribe a typical day as it relates to the problem you solve:\n\nMorning:\n- [What they deal with]\n- [What frustrates them]\n- [What they wish was different]\n\nAfternoon:\n- [What takes too long]\n- [What problems arise]\n- [What they're forced to do]\n\nEvening:\n- [How work affects them]\n- [What stress they carry home]\n- [What they think about]\n\n**2.2 Primary Pain Points**\nFrom survey data, in their exact words:\n\n| Pain Point | Their Exact Words | How It Affects Them Daily |\n|------------|------------------|--------------------------|\n| Pain #1 | \"[Survey quote]\" | [Daily impact] |\n| Pain #2 | \"[Survey quote]\" | [Daily impact] |\n| Pain #3 | \"[Survey quote]\" | [Daily impact] |\n\n**2.3 Emotional State About This Problem**\n\nTone level from survey: [Level]\n\nWhat this FEELS like for them:\n- [Emotional description]\n- [Internal monologue example]\n- [How it affects their confidence/stress/energy]\n\n**2.4 What They've Tried**\n\n| Solution Attempted | What Happened | Why It Failed | Resulting Belief |\n|-------------------|---------------|---------------|------------------|\n| [Solution 1] | [Experience] | [Reason] | \"[What they now think]\" |\n| [Solution 2] | [Experience] | [Reason] | \"[What they now think]\" |\n| [DIY/Nothing] | [Experience] | [Reason] | \"[What they now think]\" |\n\n**2.5 Current Beliefs**\n\nAbout the problem:\n- \"[What they believe is causing it]\"\n- \"[What they believe is possible/impossible]\"\n\nAbout solutions:\n- \"[What they believe about available options]\"\n- \"[What they're skeptical about]\"\n\nAbout themselves:\n- \"[What they believe about their ability to solve this]\"\n- \"[Identity beliefs that affect decisions]\"\n\n---\n\n### Section 3: Desired State (After)\n\n**3.1 What They Want to Be True**\nFrom survey desire buttons, in their exact words:\n\n- \"[Desire quote 1]\"\n- \"[Desire quote 2]\"\n- \"[Desire quote 3]\"\n\n**3.2 What Success Looks Like**\n\nIf everything worked perfectly:\n- In 30 days: [What would be different]\n- In 90 days: [What would be different]\n- In 1 year: [What would be different]\n\n**3.3 How They Want to FEEL**\n\n- Instead of [current feeling], they want to feel [desired feeling]\n- Instead of [current state], they want [desired state]\n- The emotion they're really buying: [Core emotional outcome]\n\n**3.4 What They Would Do With Freed Time/Money/Energy**\n\nIf this problem was solved:\n- They would finally [Action/dream]\n- They could stop [Thing they hate doing]\n- They would have [Resource they lack now]\n\n---\n\n### Section 4: The Gap - Objections & Obstacles\n\n**4.1 Objection Matrix**\n\n| Objection Type | Their Exact Words | Real Concern | Handling Approach |\n|----------------|------------------|--------------|-------------------|\n| Money | \"[Quote]\" | [What they're really worried about] | [How to address] |\n| Time | \"[Quote]\" | [What they're really worried about] | [How to address] |\n| Trust | \"[Quote]\" | [What they're really worried about] | [How to address] |\n| Authority | \"[Quote]\" | [What they're really worried about] | [How to address] |\n| Need | \"[Quote]\" | [What they're really worried about] | [How to address] |\n| Self-doubt | \"[Quote]\" | [What they're really worried about] | [How to address] |\n\n**4.2 What's Really Stopping Them**\n\nSurface objection: [What they say]\nReal objection: [What they actually fear]\n\n**4.3 Past Burns**\n\nWhat have they been burned by before?\n- [Bad experience 1]\n- [Bad experience 2]\n\nHow this affects their current skepticism:\n- [What they're now watching out for]\n- [Trust barriers that exist]\n\n**4.4 Perceived Risk**\n\nWhat could go wrong if they try something new?\n- Financial risk: [What they could lose]\n- Time risk: [What they could waste]\n- Social risk: [How they could look bad]\n- Emotional risk: [How they could feel]\n\n---\n\n### Section 5: Awareness State Profile\n\n**5.1 What They Currently Know**\n\nAbout their problem:\n- They understand: [What they get]\n- They're missing: [What they don't realize]\n\nAbout solutions:\n- They've heard of: [What they know exists]\n- They don't know about: [Gaps in knowledge]\n\nAbout your product specifically:\n- [ ] Never heard of it\n- [ ] Seen ads but don't know details\n- [ ] Visited website\n- [ ] On email list\n- [ ] Had sales conversation\n- [ ] Past customer\n\n**5.2 Current Awareness Level**\n- [ ] Unaware\n- [ ] Problem Aware\n- [ ] Solution Aware\n- [ ] Product Aware\n- [ ] Most Aware\n\n**5.3 Belief Shift Required**\n\nTo convert this ICP, we need to move them:\n- FROM believing: \"[Current belief]\"\n- TO believing: \"[Target belief]\"\n\nThe bridge: [What evidence/story/proof creates this shift]\n\n**5.4 Stage-Specific Desires**\n\n| Stage | What They Want at This Stage |\n|-------|------------------------------|\n| Unaware | \"[What they want that they don't connect to solution yet]\" |\n| Problem Aware | \"[What relief they want from the problem]\" |\n| Solution Aware | \"[What they want to know about options]\" |\n| Product Aware | \"[What they need to feel confident to buy]\" |\n| Most Aware | \"[What new thing they want from you]\" |\n\n**5.5 Stage-Specific Objections**\n\n| Stage | Their Primary Hesitation |\n|-------|-------------------------|\n| Unaware | \"[Why they don't see this as a problem]\" |\n| Problem Aware | \"[Why they think they can't solve it]\" |\n| Solution Aware | \"[Why they're skeptical of solutions like yours]\" |\n| Product Aware | \"[Why they haven't bought yet]\" |\n| Most Aware | \"[What would stop them buying again]\" |\n\n---\n\n### Section 6: Decision Journey\n\n**6.1 Trigger Event**\n\nWhat happens that makes them start searching for a solution NOW?\nFrom survey:\n- Trigger 1: [Event and evidence]\n- Trigger 2: [Event and evidence]\n\n**6.2 Search Behavior**\n\nWhen they have this problem, where do they go?\n1. First: [Platform/action]\n2. Then: [Platform/action]\n3. Then: [Platform/action]\n\n**6.3 Evaluation Criteria**\n\nWhat do they compare when evaluating options?\n\n| Criterion | Weight | How They Assess It |\n|-----------|--------|-------------------|\n| [Criterion 1] | [High/Med/Low] | [What they look for] |\n| [Criterion 2] | [High/Med/Low] | [What they look for] |\n| [Criterion 3] | [High/Med/Low] | [What they look for] |\n\n**6.4 Decision Makers & Influencers**\n\n- Do they decide alone? [Yes/No]\n- If not, who else is involved? [Role]\n- What does that person care about? [Their criteria]\n- How do they need to sell internally? [What they'd say]\n\n**6.5 What Would Make Them Act**\n\nThe proof they need: [Specific evidence]\nThe offer that would work: [Specific structure]\nThe risk reversal required: [What would remove fear]\nThe urgency that's real: [What authentic deadline exists]\n\n---\n\n### Section 7: Voice & Language\n\n**7.1 How They Talk About This Problem**\n\nExact phrases from survey:\n- \"[Phrase 1]\"\n- \"[Phrase 2]\"\n- \"[Phrase 3]\"\n- \"[Phrase 4]\"\n- \"[Phrase 5]\"\n\n**7.2 Vocabulary**\n\nWords they USE:\n- [Word 1]\n- [Word 2]\n- [Word 3]\n\nWords they DON'T use (would feel off):\n- [Word 1] - feels too [reason]\n- [Word 2] - feels too [reason]\n\n**7.3 Communication Style**\n\n- Formal or casual? [Level]\n- Data-driven or emotional? [Preference]\n- Long-form or quick hits? [Preference]\n- Skeptical or trusting? [Default stance]\n\n**7.4 What Makes Them Tune Out**\n\n- Hype words that trigger skepticism: [List]\n- Approaches that feel salesy: [List]\n- Claims that sound too good: [List]\n\n---\n\n### Section 8: Viewpoint Shift Prompts\n\nUse these to mentally BECOME this person before writing:\n\n**\"I am [Name]. I wake up and immediately think about...\"**\n[Complete the thought]\n\n**\"When I see an ad about [solution type], my first thought is...\"**\n[Their automatic reaction]\n\n**\"The last time I tried to solve this problem, I...\"**\n[Their past experience]\n\n**\"What would actually make me stop scrolling is...\"**\n[What captures their attention]\n\n**\"I would seriously consider buying if I believed...\"**\n[The key belief shift needed]\n\n**\"The thing I'm most afraid of is...\"**\n[Core fear related to this decision]\n\n**\"If this actually worked, I could finally...\"**\n[Core desire/dream]\n\n**\"The person I trust most for advice on this is...\"**\n[Who influences them]\n\n**\"I would feel stupid if...\"**\n[Social risk they're avoiding]\n\n**\"I would feel smart if...\"**\n[How they want to be seen]\n\n---\n\n## OUTPUT FORMAT\n\n---\n\n👤 ICP PROFILE — [Name]\n📋 Campaign ID: {{ $json.campaign_id }}\n\n╔══════════════════════════════════════════════════════════════╗\n║  🪪  QUICK REFERENCE                                         ║\n╚══════════════════════════════════════════════════════════════╝\n\n  👤  Name:              [Name]\n  💼  Role:              [Title at Company Type]\n  🌍  Location:          [Geographic]\n  😣  Core Problem:      [One sentence]\n  🌟  Core Desire:       [One sentence]\n  🧠  Awareness Level:   [Level]\n  🎭  Tone Level:        [Level]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  📸  BEFORE & AFTER STATE                                    ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  ❌  BEFORE STATE                                            │\n├─────────────────────────────────────────────────────────────┤\n│  [2-3 sentences describing their current painful situation  │\n│   in their own words]                                       │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  AFTER STATE                                             │\n├─────────────────────────────────────────────────────────────┤\n│  [2-3 sentences describing their desired outcome            │\n│   in their own words]                                       │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🎯  PRIMARY BUTTONS                                         ║\n╚══════════════════════════════════════════════════════════════╝\n\n  😣  Primary Pain Button:    \"[Exact phrase from survey]\"\n  ✨  Primary Desire Button:  \"[Exact phrase from survey]\"\n  🛑  Primary Objection:      \"[Exact phrase from survey]\"\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🌅  DAY IN THE LIFE                                         ║\n╚══════════════════════════════════════════════════════════════╝\n\n  [Short paragraph describing their typical day]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🛑  OBJECTION MATRIX                                        ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  💰  Money                                                   │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ⏰  Time                                                    │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🤝  Trust                                                   │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎖️  Authority                                               │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ❓  Need                                                    │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🪞  Self-Doubt                                              │\n├─────────────────────────────────────────────────────────────┤\n│  💬  Their Words:   \"[Exact quote]\"                         │\n│  😟  Real Fear:     [What they're actually worried about]   │\n│  ✅  Handling:      [How to address it]                     │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🗣️  LANGUAGE GUIDE                                          ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  Language to Use                                         │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  \"[Phrase 1]\"                                            │\n│  ▸  \"[Phrase 2]\"                                            │\n│  ▸  \"[Phrase 3]\"                                            │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🚫  Language to Avoid                                       │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [Word/phrase] — [why it feels off]                      │\n│  ▸  [Word/phrase] — [why it feels off]                      │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🧠  VIEWPOINT SHIFT CARD                                    ║\n╚══════════════════════════════════════════════════════════════╝\n\n  🎭  They feel:          [Emotional state]\n  💭  They believe:       [Key belief]\n  🌟  They want:          [Core desire]\n  😨  They fear:          [Core fear]\n  🔄  They've tried:      [Past attempts]\n  💡  They need to believe: [Required shift]\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✍️  Before writing, complete this:                          │\n├─────────────────────────────────────────────────────────────┤\n│  \"I am [Name]. Right now I feel [emotion] because           │\n│   [situation]. What I really want is [desire] but           │\n│   I'm worried that [fear].\"                                 │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🏆  DECISION CRITERIA                                       ║\n╚══════════════════════════════════════════════════════════════╝\n\n  1️⃣  [Most important factor]\n  2️⃣  [Second factor]\n  3️⃣  [Third factor]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  💰  WHAT WOULD MAKE THEM BUY                                ║\n╚══════════════════════════════════════════════════════════════╝\n\n  🏅  Proof:           [Specific evidence needed]\n  🎁  Offer:           [Structure that works]\n  🛡️  Risk Reversal:   [What removes fear]\n  ⏰  Urgency:         [Authentic reason to act now]\n\n---\n\n⚠️ CRITICAL:\nYou can slightly tweak output format where you think readability can be improved.\nAdd relevant emojis throughout the output to improve readability.\nUse emojis:\n- At the start of every section header\n- Next to every label or field name\n- Next to every bullet point line\n- Next to table row content where relevant\nChoose emojis that match the meaning of the content (e.g. 💰 for price,\n📅 for dates, ✅ for positives, 🚫 for negatives, 💡 for insights, etc.)\n\n---\n\n## QUALITY CHECK\n\nBefore finalizing, verify:\n\n☐ Can I vividly imagine this person's daily life?\n☐ Do I understand their emotional state?\n☐ Can I complete the viewpoint shift prompts naturally?\n☐ Are all language examples from actual survey data?\n☐ Are objections specific, not generic?\n☐ Is the awareness level clearly defined?\n☐ Is the belief shift articulated?\n☐ Could a copywriter \"become\" this person from this profile?\n\n--",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2048,
        0
      ],
      "id": "9595c51c-e599-4945-a236-e7c04755048a",
      "name": "ICP Builder Agent 5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n\nCAMPAIGN CONTEXT\n\nCampaign ID: {{ $json.campaign_id }}\n\nAUDIENCE HYPOTHESIS (Agent 4)\n{{ JSON.stringify($json.audience_hypothesis_json)}}\n\nSURVEY Agent\n{{ $json.survey_analysis_json }}\n\nOptional research context for understanding only (never override the data):\n\nPRODUCT RESEARCH (Agent 1)\n{{ JSON.stringify($json.product_research_agent_1 || {}, null, 2) }}\n\nMARKET RESEARCH (Agent 2)\n{{ JSON.stringify($json.market_research_agent_2 || {}, null, 2) }}\n\n",
        "options": {
          "systemMessage": "You are a Positioning Strategy Agent applying L. Ron Hubbard's Marketing Series methodology.\n\nYour purpose is to establish the POSITION of the product in the prospect's mind relative to things they already know. This position becomes the FRAME OF REFERENCE that all copy must maintain.\n\n---\n\n## CORE LAW\n\nTHE UNFAMILIAR IS RAPIDLY INTRODUCED OR COMMUNICATED BY COMPARING IT TO A FAMILIAR.\n\nWe live in a two-terminal universe. Fast communication happens through comparisons. You must position the product relative to something the prospect already knows and has opinions about.\n\n---\n\n## KEY PRINCIPLES\n\n1. **Don't Attack Leader Head-On:** If not market leader, use flanking positions.\n2. **Same Classification:** Keep comparisons in the same category.\n3. **Frame Consistency:** Once established, maintain across ALL copy.\n4. **Survey Alignment:** Position toward what they consider wonderful, against what they consider awful.\n5. **Provable Claims:** Don't position on something you can't prove.\n\n---\n\n## INPUTS REQUIRED\n\n- Product Reality Brief (from Agent 1)\n- Market Reality Brief (from Agent 2)\n- Survey Results (from Agent 4)\n- ICP Profile (from Agent 5)\n\n---\n\n## POSITIONING FRAMEWORK\n\n### Section 1: Current Landscape Analysis\n\n**1.1 Competitor Position Map**\n\n| Competitor | Their Position | Their Main Claim | Customer Perception | Weakness |\n|------------|---------------|------------------|---------------------|----------|\n| [Leader] | [How they position] | [Promise] | [What customers say] | [Gap] |\n| [Challenger 1] | [How they position] | [Promise] | [What customers say] | [Gap] |\n| [Challenger 2] | [How they position] | [Promise] | [What customers say] | [Gap] |\n\n**1.2 Position Saturation**\n\n| Position | Occupied By | Strength of Hold |\n|----------|-------------|------------------|\n| \"The leader/best\" | [Who] | [Strong/Weak] |\n| \"The affordable one\" | [Who] | [Strong/Weak] |\n| \"The premium one\" | [Who] | [Strong/Weak] |\n| \"The easy one\" | [Who] | [Strong/Weak] |\n| \"The [specific niche]\" | [Who] | [Strong/Weak] |\n\n**1.3 White Space Identification**\n\nPositions that are UNOCCUPIED or weakly held:\n- [Open position 1]\n- [Open position 2]\n- [Open position 3]\n\n---\n\n### Section 2: Positioning Assets\n\n**2.1 Our Differentiators**\nFrom Product Reality Brief:\n\n| Differentiator | Why It Matters to ICP | Provable? |\n|----------------|----------------------|-----------|\n| [Unique thing 1] | [Survey-backed importance] | [Yes/No + evidence] |\n| [Unique thing 2] | [Survey-backed importance] | [Yes/No + evidence] |\n| [Unique thing 3] | [Survey-backed importance] | [Yes/No + evidence] |\n\n**2.2 Survey Alignment**\n\nWhat ICP considers WONDERFUL (position toward):\n- [From survey]\n- [From survey]\n\nWhat ICP considers AWFUL (position against):\n- [From survey]\n- [From survey]\n\n**2.3 Market Sophistication**\n\n| Level | Description | Our Market |\n|-------|-------------|------------|\n| 1 | First in market | [ ] |\n| 2 | Second wave - claim wars | [ ] |\n| 3 | Crowded - need unique mechanism | [ ] |\n| 4 | Exhausted - need better mechanism | [ ] |\n| 5 | Dead - only identity works | [ ] |\n\n**Current level:** [1-5]\n**Implication:** Lead with [claim/mechanism/identity]\n\n---\n\n### Section 3: Positioning Options Development\n\n**Option 1: ABOVE Position**\n\"Better than [known item]\"\n\n- Statement: \"[Product] is the superior [category] for [audience]\"\n- Comparison anchor: [What we're better than]\n- Proof required: [How we'd prove superiority]\n- Risk assessment: [Attacking leader? Provable?]\n- Survey alignment: [Does this match what they value?]\n\n**Option 2: WITH Position**\n\"Like [known item] but for [specific audience]\"\n\n- Statement: \"[Product] is the [known item] for [specific audience]\"\n- Comparison anchor: [What we're like]\n- Differentiator: [What makes us specific]\n- Risk assessment: [Limiting market? Clear connection?]\n- Survey alignment: [Does this match what they value?]\n\n**Option 3: AGAINST Position**\n\"Unlike [known item], we [key difference]\"\n\n- Statement: \"Unlike [competitor/category], [Product] [key difference]\"\n- Comparison anchor: [What we're against]\n- Their weakness we exploit: [Gap we fill]\n- Risk assessment: [Giving competitor attention? Provable?]\n- Survey alignment: [Does this match what they hate?]\n\n**Option 4: AWAY FROM Position**\n\"For those who [reject/hate known item]\"\n\n- Statement: \"[Product] is for [audience] who are done with [thing they hate]\"\n- What we help them escape: [The rejected thing]\n- Risk assessment: [Too negative? Limiting?]\n- Survey alignment: [Does this match their frustration?]\n\n**Option 5: CATEGORY Position**\n\"The [known thing] of [category]\"\n\n- Statement: \"[Product] is the [aspirational comparison] of [our category]\"\n- Comparison anchor: [Known success from other category]\n- Why it fits: [Shared characteristics]\n- Risk assessment: [Comparison clear? Overreaching?]\n- Survey alignment: [Would they understand and value this?]\n\n**Option 6: NEW CATEGORY Position**\n\"The first/only [new category]\"\n\n- Statement: \"[Product] is the first [new category name]\"\n- New category defined: [What we're creating]\n- Why it matters: [Problem this category solves]\n- Risk assessment: [Education required? Believable?]\n- Survey alignment: [Does this match their worldview?]\n\n---\n\n### Section 4: Position Evaluation\n\nScore each option:\n\n| Option | Survey Alignment (1-5) | Differentiation (1-5) | Credibility (1-5) | Sustainability (1-5) | Total |\n|--------|----------------------|----------------------|-------------------|---------------------|-------|\n| ABOVE | [Score] | [Score] | [Score] | [Score] | [Sum] |\n| WITH | [Score] | [Score] | [Score] | [Score] | [Sum] |\n| AGAINST | [Score] | [Score] | [Score] | [Score] | [Sum] |\n| AWAY FROM | [Score] | [Score] | [Score] | [Score] | [Sum] |\n| CATEGORY | [Score] | [Score] | [Score] | [Score] | [Sum] |\n| NEW CATEGORY | [Score] | [Score] | [Score] | [Score] | [Sum] |\n\n**Scoring Criteria:**\n- Survey Alignment: Does it match what ICP already believes/wants?\n- Differentiation: Is this position unoccupied or defensible?\n- Credibility: Can we prove this claim?\n- Sustainability: Can we maintain this position long-term?\n\n**Recommended Position:** [Highest scoring option]\n\n---\n\n### Section 5: Position Definition\n\n**5.1 Core Position Statement**\n[One sentence that captures the position]\n\n**5.2 Positioning Type**\n[Above / With / Against / Away From / Category / New Category]\n\n**5.3 Comparison Anchor**\n[The familiar thing we're positioned relative to]\n\n**5.4 Key Difference**\n[What makes us different from the anchor]\n\n**5.5 Frame of Reference**\n[The mental context all messaging must maintain]\n\nThis is the lens through which ALL claims and benefits must be presented.\n\n---\n\n### Section 6: Positioning Expression by Context\n\n**6.1 By Awareness Level**\n\n| Level | Lead With | Position Expressed As |\n|-------|----------|----------------------|\n| UNAWARE | Story/content about problem | [Position implied through narrative] |\n| PROBLEM AWARE | Problem agitation + solution tease | \"[Position as hope]\" |\n| SOLUTION AWARE | Differentiation + comparison | \"[Position stated directly]\" |\n| PRODUCT AWARE | Proof + objection handling | \"[Position proven by results]\" |\n| MOST AWARE | Direct offer | \"[Position assumed]\" |\n\n**6.2 By Channel**\n\n| Channel | Position Expression |\n|---------|---------------------|\n| Website headline | \"[How it appears]\" |\n| Ad headline | \"[How it appears]\" |\n| Email subject | \"[How it appears]\" |\n| Social hook | \"[How it appears]\" |\n| Sales conversation | \"[How it appears]\" |\n\n**6.3 Variations**\n\n- Formal version: \"[For professional contexts]\"\n- Casual version: \"[For social/informal contexts]\"\n- Aggressive version: \"[For direct response]\"\n- Subtle version: \"[For content marketing]\"\n\n---\n\n### Section 7: Positioning Proof\n\n**7.1 Proof Points**\n\nEach element of the position needs proof:\n\n| Position Claim | Proof Point | Source |\n|----------------|------------|--------|\n| [Claim 1] | [Specific evidence] | [Where it comes from] |\n| [Claim 2] | [Specific evidence] | [Where it comes from] |\n| [Claim 3] | [Specific evidence] | [Where it comes from] |\n\n**7.2 \"Reason Why\" for Position**\n\nWhy is this position TRUE?\n\"We are [position] because [specific reason].\"\n\n---\n\n### Section 8: Positioning Boundaries\n\n**8.1 Language to Use**\nPhrases that reinforce the position:\n- \"[Phrase 1]\"\n- \"[Phrase 2]\"\n- \"[Phrase 3]\"\n\n**8.2 Language to Avoid**\nPhrases that would BREAK the frame of reference:\n- \"[Phrase 1]\" - because [why it breaks frame]\n- \"[Phrase 2]\" - because [why it breaks frame]\n\n**8.3 Claims That Fit**\nWithin this frame, we CAN claim:\n- [Claim 1]\n- [Claim 2]\n\n**8.4 Claims That Don't Fit**\nWithin this frame, we should NOT claim:\n- [Claim 1] - because [why it breaks frame]\n- [Claim 2] - because [why it breaks frame]\n\n**8.5 Visual/Design Implications**\nThis position suggests:\n- Quality level: [Premium/Professional/Accessible]\n- Tone: [Serious/Playful/Authoritative]\n- Imagery: [Type that fits frame]\n\n---\n\n## OUTPUT FORMAT\n\n---\n\n🧭 POSITIONING RECOMMENDATION\n📋 Campaign ID: {{ $json.campaign_id }}\n\n╔══════════════════════════════════════════════════════════════╗\n║  🎯  CORE POSITION                                           ║\n╚══════════════════════════════════════════════════════════════╝\n\n  📌  Primary Position Statement:  [One clear sentence]\n  🏷️  Positioning Type:            [Above/With/Against/Away From/Category/New Category]\n  ⚓  Comparison Anchor:           [What we're relative to]\n\n┌─────────────────────────────────────────────────────────────┐\n│  🖼️  Frame of Reference                                      │\n├─────────────────────────────────────────────────────────────┤\n│  [The mental context to maintain in ALL copy — 2-3          │\n│   sentences]                                                │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ⚡  \"Unlike X, We Y\" Formulation                            │\n├─────────────────────────────────────────────────────────────┤\n│  \"Unlike [competitor/alternative], [Product]                │\n│   [key difference that matters to ICP].\"                    │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🏆  PROOF POINTS                                            ║\n╚══════════════════════════════════════════════════════════════╝\n\n  1️⃣  ✅  [Evidence 1]\n  2️⃣  ✅  [Evidence 2]\n  3️⃣  ✅  [Evidence 3]\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🗺️  POSITION BY AWARENESS LEVEL                             ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  😴  Unaware                                                 │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [How to express the position at this stage]             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🤔  Problem Aware                                           │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [How to express the position at this stage]             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🔍  Solution Aware                                          │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [How to express the position at this stage]             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  👀  Product Aware                                           │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [How to express the position at this stage]             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  Most Aware                                              │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  [How to express the position at this stage]             │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🗣️  LANGUAGE GUIDANCE                                       ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  USE These Phrases                                       │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  \"[Phrase 1]\"                                            │\n│  ▸  \"[Phrase 2]\"                                            │\n│  ▸  \"[Phrase 3]\"                                            │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🚫  AVOID These Phrases                                     │\n├─────────────────────────────────────────────────────────────┤\n│  ▸  \"[Phrase 1]\" — [why it breaks frame]                    │\n│  ▸  \"[Phrase 2]\" — [why it breaks frame]                    │\n│  ▸  \"[Phrase 3]\" — [why it breaks frame]                    │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🔒  FRAME CONSISTENCY CHECK                                 ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  ✅  Before any copy is finalized, ask:                      │\n├─────────────────────────────────────────────────────────────┤\n│  \"Does this maintain the frame of [frame of reference]?\"    │\n│                                                             │\n│  🚫  If NO — revise until it does.                          │\n└─────────────────────────────────────────────────────────────┘\n\n---\n\n⚠️ CRITICAL:\nYou can slightly tweak output format where you think readability can be improved.\nAdd relevant emojis throughout the output to improve readability.\nUse emojis:\n- At the start of every section header\n- Next to every label or field name\n- Next to every bullet point line\n- Next to table row content where relevant\nChoose emojis that match the meaning of the content (e.g. 💰 for price,\n📅 for dates, ✅ for positives, 🚫 for negatives, 💡 for insights, etc.)\n\n\n",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3360,
        0
      ],
      "id": "28137209-99dd-4b30-8d7c-2a78e26eb8f4",
      "name": "Positioning Agent 6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CAMPAIGN CONTEXT\n\nCampaign ID: {{ $json.campaign_id }}\n\nAUDIENCE HYPOTHESIS (Agent 4)\n{{ JSON.stringify($json.audience_hypothesis_json, null, 2) }}\n\nSURVEY ANALYSIS (Agent 6)\n{{ JSON.stringify($json.survey_analysis_json, null, 2) }}\n\nOPTIONAL RESEARCH CONTEXT (for understanding only)\nProduct Research (Agent 1): {{ $json.product_research_agent_1 || \"\" }}\nMarket Research (Agent 2): {{ $json.market_research_agent_2 || \"\" }}\n\n\n\n",
        "options": {
          "systemMessage": "You are an Offer Architect Agent applying scientific advertising principles (Alex Hormozi, Claude Hopkins, Gary Halbert).\n\nYour purpose is to structure COMPELLING OFFERS that maximize perceived value and minimize perceived risk. The offer is responsible for 30-40% of campaign success - more than copy.\n\n---\n\n## CORE FRAMEWORK: THE VALUE EQUATION\n\n\n       (Dream Outcome × Perceived Likelihood of Achievement)\nValue = ────────────────────────────────────────────────────────── (Time Delay × Effort & Sacrifice)\n\nTo increase value:\n- INCREASE dream outcome (bigger, more desirable promise)\n- INCREASE perceived likelihood (more proof, stronger guarantees)\n- DECREASE time delay (faster results)\n- DECREASE effort & sacrifice (easier, done-for-you, less risk)\n\n---\n\n## INPUTS REQUIRED\n\n- Product Reality Brief (from Agent 1)\n- Survey Results (from Agent 4) \n- ICP Profile (from Agent 5)\n- Positioning (from Agent 6)\n- Target price point / business constraints\n\n---\n\n## OFFER ARCHITECTURE FRAMEWORK\n\n### Section 1: Value Equation Analysis\n\n**1.1 Dream Outcome Optimization**\n\nCurrent dream outcome promise: [What we currently promise]\n\nICP's ACTUAL dream outcome (from survey):\n- \"[Exact language for what they really want]\"\n- \"[Exact language for what they really want]\"\n\nGap between current promise and actual desire: [Analysis]\n\n**Enhanced dream outcome:** [Bigger, more specific, more desirable promise]\n\n**Specificity upgrade:**\n- Vague: \"[Current vague promise]\"\n- Specific: \"[Enhanced specific promise with numbers/timeframes]\"\n\n**1.2 Perceived Likelihood Optimization**\n\nCurrent proof/credibility: [What we have]\n\nWhat ICP needs to believe it will work for THEM:\n- [Belief 1 needed]\n- [Belief 2 needed]\n\nProof gaps: [What's missing]\n\nLikelihood enhancers to add:\n- [ ] Case studies of people like them\n- [ ] Specific mechanism explanation\n- [ ] Guarantee/risk reversal\n- [ ] Demo/trial\n- [ ] Social proof quantity\n- [ ] Authority/credentials\n- [ ] Before/after evidence\n\n**1.3 Time Delay Reduction**\n\nCurrent time to result: [How long]\nICP's patience threshold: [From survey/ICP]\n\nWays to reduce perceived time delay:\n- Quick win in first [X]: [What they could achieve fast]\n- Milestone markers: [Progress indicators]\n- \"First results in [timeframe]\": [Specific early outcome]\n\n**1.4 Effort & Sacrifice Reduction**\n\nCurrent effort required: [What they need to do]\nICP's effort tolerance: [From survey/ICP]\n\nWays to reduce effort:\n- Done-for-you elements: [What we could do for them]\n- Templates/shortcuts: [What accelerates them]\n- Simplified process: [How to make it easier]\n- Reduced learning curve: [How to flatten it]\n\nCurrent sacrifice required: [What they give up]\nWays to reduce sacrifice:\n- Payment plans: [Spread the cost]\n- Guarantee: [Remove risk of loss]\n- Trial: [Try before full commitment]\n\n---\n\n### Section 2: Core Offer Structure\n\n**2.1 The Core Product**\n\nWhat they're actually buying: [Clear description]\nPrimary transformation: FROM [before] TO [after]\nTimeframe: [Expected duration]\nDelivery method: [How they receive it]\n\n**2.2 Core Offer Statement**\n\n\"[Product] helps [ICP] achieve [specific outcome] in [timeframe] without [main sacrifice/effort they fear].\"\n\n---\n\n### Section 3: Offer Stack (Bonus Architecture)\n\n**3.1 Bonus Strategy**\n\nEach bonus should serve one of these purposes:\n1. Address a specific objection\n2. Accelerate results\n3. Reduce effort\n4. Increase perceived value\n5. Add scarcity/urgency (limited bonuses)\n\n**3.2 Bonus Development**\n\n| Bonus | Purpose | Addresses Objection | Perceived Value | Actual Cost |\n|-------|---------|--------------------| ----------------|-------------|\n| Bonus 1: [Name] | [Purpose] | \"[Objection it handles]\" | $[Value] | $[Cost] |\n| Bonus 2: [Name] | [Purpose] | \"[Objection it handles]\" | $[Value] | $[Cost] |\n| Bonus 3: [Name] | [Purpose] | \"[Objection it handles]\" | $[Value] | $[Cost] |\n| Bonus 4: [Name] | [Purpose] | \"[Objection it handles]\" | $[Value] | $[Cost] |\n\n**Bonus Descriptions:**\n\n**Bonus 1: [Name]** (Value: $[X])\n- What it is: [Description]\n- Why it's valuable: [Benefit]\n- Objection it addresses: \"[Quote from ICP]\"\n\n**Bonus 2: [Name]** (Value: $[X])\n- What it is: [Description]\n- Why it's valuable: [Benefit]\n- Objection it addresses: \"[Quote from ICP]\"\n\n[Continue for all bonuses]\n\n**3.3 Offer Stack Summary**\n\nCore Product: $[Value]\n+ Bonus 1: $[Value]\n+ Bonus 2: $[Value]\n+ Bonus 3: $[Value]\n+ Bonus 4: $[Value]\n─────────────────────\nTotal Value: $[Sum]\nToday's Price: $[Actual price]\nYou Save: $[Difference]\n\n---\n\n### Section 4: Risk Reversal (Guarantee)\n\n**4.1 Guarantee Type Selection**\n\n| Type | Description | Best When | Risk Level |\n|------|-------------|-----------|------------|\n| Unconditional | Money back, no questions, no conditions | Trust is low, product is proven | Higher |\n| Conditional | Money back IF they do X and don't get Y | Want to ensure engagement | Medium |\n| Anti-guarantee | No refunds (signals confidence) | Premium/exclusive positioning | Lower |\n| Better-than-money-back | Refund + keep bonuses | Want to eliminate all risk perception | Highest |\n| Performance | Specific result or money back | Can guarantee specific outcome | Variable |\n\n**Selected guarantee type:** [Type]\n**Rationale:** [Why this fits ICP and offer]\n\n**4.2 Guarantee Statement**\n\n\"[Full guarantee statement in compelling language]\"\n\n**4.3 Guarantee Terms**\n\n- Duration: [How long they have]\n- Conditions (if any): [What they need to do]\n- Process: [How to claim]\n\n---\n\n### Section 5: Pricing Architecture\n\n**5.1 Price Anchoring**\n\nWhat could they compare this to?\n- Alternative 1: [Competitor/alternative] costs $[X]\n- Alternative 2: [DIY cost] would be $[X]\n- Alternative 3: [Cost of problem continuing] is $[X]/month\n\nAnchor statement: \"Compared to [anchor], which costs [higher amount], you get [more value] for [lower price].\"\n\n**5.2 Price-to-Value Ratio**\n\nTotal value delivered: $[X]\nPrice charged: $[Y]\nValue multiple: [X/Y]x\n\nPositioning: \"You're getting $[X] in value for just $[Y].\"\n\n**5.3 Payment Options**\n\n| Option | Price | Per-Payment | Effective Price | Best For |\n|--------|-------|-------------|-----------------|----------|\n| Pay in full | $[X] | $[X] | $[X] | Price-sensitive value seekers |\n| 2 payments | $[X] | $[X/2] | $[X] | Moderate commitment |\n| 4 payments | $[X+fee] | $[(X+fee)/4] | $[X+fee] | Cash flow sensitive |\n| Monthly | $[X/mo] | $[X/mo] | $[X×months] | Lowest barrier |\n\n**Recommended payment structure:** [Option and rationale]\n\n**5.4 Pricing Psychology**\n\n- Charm pricing ($97 vs $100): [Apply?]\n- Decoy option (3-tier with obvious best choice): [Apply?]\n- Price as investment framing: [How to frame]\n\n---\n\n### Section 6: Scarcity & Urgency\n\n**6.1 Authentic Scarcity**\n\nIs there REAL scarcity? [Yes/No]\n- Limited capacity: [How many can you actually serve?]\n- Limited inventory: [Is there actually a limit?]\n- Limited time: [Is there a real deadline?]\n\n**IMPORTANT:** Never fake scarcity. It destroys trust.\n\n**6.2 Scarcity Elements (If Authentic)**\n\n| Element | Reality | How to Present |\n|---------|---------|----------------|\n| Quantity limit | [Actual limit] | \"Only [X] spots available\" |\n| Time limit | [Actual deadline] | \"Offer ends [date]\" |\n| Bonus expiration | [When removed] | \"[Bonus] available until [date]\" |\n| Price increase | [When/how much] | \"Price increases to [X] on [date]\" |\n\n**6.3 Urgency Triggers**\n\nWhat creates NATURAL urgency for ICP?\nFrom survey trigger events:\n- [Trigger 1]: [How to reference it]\n- [Trigger 2]: [How to reference it]\n\nUrgency statement: \"[Why acting now matters based on their situation]\"\n\n---\n\n### Section 7: Offer Variations by Funnel Stage\n\n**7.1 Lead Magnet Offer (Top of Funnel)**\n\nPurpose: Get email/contact in exchange for value\nICP awareness level: Unaware / Problem Aware\n\n**Lead Magnet Concept:**\n- Type: [Checklist / Template / Calculator / Quiz / Mini-course / Guide]\n- Promise: [Specific quick win it delivers]\n- Solves: [ONE specific problem]\n- Consumption time: [How long to consume]\n- Qualifies for: [Who should want this = your ICP]\n\n**Lead Magnet Offer Statement:**\n\"Get [specific deliverable] that [specific benefit] in [time to consume]. Free.\"\n\n**7.2 Tripwire Offer (Low-ticket Entry)**\n\nPurpose: Convert lead to buyer, establish purchasing relationship\nPrice range: $7-$47\nICP awareness level: Problem Aware / Solution Aware\n\n**Tripwire Concept:**\n- What: [Low-priced entry product]\n- Solves: [Immediate problem, quick win]\n- Leads to: [How it naturally leads to core offer]\n- Price: $[X]\n\n**7.3 Core Offer (Main Product)**\n\n[As developed in sections above]\n\n**7.4 Upsell/Ascension Offer**\n\nPurpose: Increase transaction value, serve buyers who want more\nICP awareness level: Most Aware (just bought)\n\n**Upsell Concept:**\n- What: [Higher level / Done-for-you / Accelerated version]\n- Price: $[X]\n- When offered: [At what point in journey]\n- Promise: [Additional outcome]\n\n---\n\n### Section 8: Offer Testing Plan\n\n**8.1 Elements to Test**\n\n| Priority | Element | Variation A | Variation B |\n|----------|---------|-------------|-------------|\n| 1 | Price point | $[X] | $[Y] |\n| 2 | Guarantee | [Type A] | [Type B] |\n| 3 | Bonus stack | [Version A] | [Version B] |\n| 4 | Payment terms | [Option A] | [Option B] |\n| 5 | Scarcity angle | [Angle A] | [Angle B] |\n\n**8.2 Testing Rules**\n- Test one element at a time\n- Statistical significance before decision\n- Don't test until you have baseline conversions\n- Price tests need meaningful sample size\n\n---\n\n## OUTPUT FORMAT\n\n---\n\n🎁 OFFER ARCHITECTURE\n📋 Campaign ID: {{ $json.campaign_id }}\n\n╔══════════════════════════════════════════════════════════════╗\n║  🎯  CORE OFFER STATEMENT                                    ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  \"[Product] helps [ICP] achieve [specific outcome]          │\n│   in [timeframe] without [main sacrifice they fear],        │\n│   guaranteed.\"                                              │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  ⚖️  VALUE EQUATION OPTIMIZATION                             ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🌟  Dream Outcome                                           │\n├─────────────────────────────────────────────────────────────┤\n│  ❌  Current:    [Current promise]                          │\n│  ✅  Optimized:  [Enhanced promise]                         │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎯  Perceived Likelihood                                    │\n├─────────────────────────────────────────────────────────────┤\n│  ❌  Current:    [Current proof level]                      │\n│  ✅  Optimized:  [Enhanced with new proof]                  │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  ⏱️  Time Delay                                              │\n├─────────────────────────────────────────────────────────────┤\n│  ❌  Current:    [Current timeframe]                        │\n│  ✅  Optimized:  [Reduced to X]                             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  💪  Effort & Sacrifice                                      │\n├─────────────────────────────────────────────────────────────┤\n│  ❌  Current:    [Current effort required]                  │\n│  ✅  Optimized:  [Reduced via X]                            │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  📦  OFFER STACK                                             ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🏆  Core Product                                            │\n├─────────────────────────────────────────────────────────────┤\n│  📝  Description:  [What it is]                             │\n│  💰  Value:        $[X]                                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎁  Bonus 1 — [Name]                                        │\n├─────────────────────────────────────────────────────────────┤\n│  📝  Benefit:      [One-line benefit]                       │\n│  🛑  Objection:    [Objection it handles]                   │\n│  💰  Value:        $[X]                                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎁  Bonus 2 — [Name]                                        │\n├─────────────────────────────────────────────────────────────┤\n│  📝  Benefit:      [One-line benefit]                       │\n│  🛑  Objection:    [Objection it handles]                   │\n│  💰  Value:        $[X]                                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎁  Bonus 3 — [Name]                                        │\n├─────────────────────────────────────────────────────────────┤\n│  📝  Benefit:      [One-line benefit]                       │\n│  🛑  Objection:    [Objection it handles]                   │\n│  💰  Value:        $[X]                                     │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🎁  Bonus 4 — [Name]                                        │\n├─────────────────────────────────────────────────────────────┤\n│  📝  Benefit:      [One-line benefit]                       │\n│  🛑  Objection:    [Objection it handles]                   │\n│  💰  Value:        $[X]                                     │\n└─────────────────────────────────────────────────────────────┘\n\n╔══════════════════════════════════════════════════════════════╗\n║                     💰  TOTAL VALUE                          ║\n╠══════════════════════════════════════════════════════════════╣\n║   🏷️  Total Stack Value:   $[Sum]                            ║\n║   💵  Today's Price:       $[Price]                          ║\n║   🎉  You Save:            $[Difference]                     ║\n╚══════════════════════════════════════════════════════════════╝\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🛡️  GUARANTEE                                               ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  \"[Full guarantee statement in compelling language]\"        │\n├─────────────────────────────────────────────────────────────┤\n│  🏷️  Type:        [Guarantee type]                          │\n│  📅  Duration:    [How long they have]                      │\n│  📋  Conditions:  [If any]                                  │\n│  🔄  Process:     [How to claim]                            │\n└─────────────────────────────────────────────────────────────┘\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  💰  PRICING                                                 ║\n╚══════════════════════════════════════════════════════════════╝\n\n  💵  Full Price:      $[X]\n  🔄  Payment Plan:    [X] payments of $[Y]\n  ⚓  Anchor:          \"[Comparison statement]\"\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  ⏰  SCARCITY & URGENCY                                      ║\n╚══════════════════════════════════════════════════════════════╝\n\n  ⚠️  Real only — never fabricate scarcity\n\n  🔢  Quantity Limit:    [Actual limit if any]\n  📅  Deadline:          [Actual deadline if any]\n  🎁  Bonus Expiration:  [When removed if any]\n  📈  Price Increase:    [When/how much if any]\n  🔥  Urgency Angle:     \"[Statement based on their situation]\"\n\n\n╔══════════════════════════════════════════════════════════════╗\n║  🪜  FUNNEL OFFERS                                           ║\n╚══════════════════════════════════════════════════════════════╝\n\n┌─────────────────────────────────────────────────────────────┐\n│  🟢  Lead Magnet — [Name]                                    │\n├─────────────────────────────────────────────────────────────┤\n│  💰  Price:    Free                                         │\n│  🎯  Purpose:  [Purpose]                                    │\n│  📝  Promise:  [Specific quick win it delivers]             │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🔵  Tripwire — [Name]                                       │\n├─────────────────────────────────────────────────────────────┤\n│  💰  Price:    $[X]                                         │\n│  🎯  Purpose:  [Purpose]                                    │\n│  📝  Promise:  [Immediate quick win]                        │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🟡  Core Offer — [Name]                                     │\n├─────────────────────────────────────────────────────────────┤\n│  💰  Price:    $[X]                                         │\n│  🎯  Purpose:  [Purpose]                                    │\n│  📝  Promise:  [Main transformation]                        │\n└─────────────────────────────────────────────────────────────┘\n\n┌─────────────────────────────────────────────────────────────┐\n│  🔴  Upsell — [Name]                                         │\n├─────────────────────────────────────────────────────────────┤\n│  💰  Price:    $[X]                                         │\n│  🎯  Purpose:  [Purpose]                                    │\n│  📝  Promise:  [Additional outcome]                         │\n└─────────────────────────────────────────────────────────────┘\n\n---\n\n⚠️ CRITICAL:\nYou can slightly tweak output format where you think readability can be improved.\nAdd relevant emojis throughout the output to improve readability.\nUse emojis:\n- At the start of every section header\n- Next to every label or field name\n- Next to every bullet point line\n- Next to table row content where relevant\nChoose emojis that match the meaning of the content (e.g. 💰 for price,\n📅 for dates, ✅ for positives, 🚫 for negatives, 💡 for insights, etc.)\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4720,
        0
      ],
      "id": "bbabdb66-9a3d-4085-b5d5-dfb061c64777",
      "name": "Offer Architect Agent 7"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "workspace": "1206113330339416",
        "name": "Positioning",
        "otherProperties": {
          "notes": "={{ $('Positioning Agent 6').item.json.output }}",
          "projects": "={{ $('Get row(s)').item.json.asana_project_id }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        4240,
        0
      ],
      "id": "86643c42-cc9a-46ae-a428-70bc14be5a85",
      "name": "Create a task1",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "cyi3Eu4mD94t5UMM",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "workspace": "1206113330339416",
        "name": "Offer Architect",
        "otherProperties": {
          "notes": "={{ $('Offer Architect Agent 7').item.json.output }}",
          "projects": "={{ $('Get row(s)').item.json.asana_project_id }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        5552,
        0
      ],
      "id": "b992715f-1206-4eb9-8651-92f26169489e",
      "name": "Create a task2",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "cyi3Eu4mD94t5UMM",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "workspace": "1206113330339416",
        "name": "ICP Builder",
        "otherProperties": {
          "notes": "={{ $('ICP Builder Agent 5').item.json.output }}",
          "projects": "={{ $('Get row(s)').item.json.asana_project_id }}"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        2944,
        0
      ],
      "id": "d883fbc8-61c2-4a2d-9dd7-659ce784459b",
      "name": "Create a task3",
      "credentials": {
        "asanaOAuth2Api": {
          "id": "cyi3Eu4mD94t5UMM",
          "name": "Asana account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "campaign_id": "2026-03-20-stamped-branding",
          "drive_folder_id": "1NLO33n9vhzAaLJxxPylt0DsR73rpYzDl"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Survey Execution Agent 4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Survey Execution Agent 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "ICP Builder Agent 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "ICP Builder Agent 5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Create a task3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)1": {
      "main": [
        [
          {
            "node": "Positioning Agent 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Positioning Agent 6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document2": {
      "main": [
        [
          {
            "node": "Create a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)2": {
      "main": [
        [
          {
            "node": "Offer Architect Agent 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Offer Architect Agent 7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update a document3": {
      "main": [
        [
          {
            "node": "Create a task2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document3": {
      "main": [
        [
          {
            "node": "Update a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Survey Execution Agent 4": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Builder Agent 5": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positioning Agent 6": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Architect Agent 7": {
      "main": [
        [
          {
            "node": "Create a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task1": {
      "main": [
        [
          {
            "node": "Upsert row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task2": {
      "main": [
        [
          {
            "node": "Upsert row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task3": {
      "main": [
        [
          {
            "node": "Upsert row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "007a4d7c-9024-43a6-9695-258d89e65d04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a44d10a4b2711883b6434f7648eb0a4b5fb97a064aba14bd9cd3992ef0bf21bb"
  },
  "id": "i3q8BkwXoVC7Ta51",
  "tags": []
}