missed-call-cold-reach-automation/Missed Call.json
{
  "name": "Missed Call 1",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM",
          "mode": "list",
          "cachedResultName": "Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "call_status"
            },
            {
              "lookupColumn": "call_status",
              "lookupValue": "Bad Request"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "id": "f642bf14-f646-4484-b92f-7a069cd9a893",
      "name": "Get Pending Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1648,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PdlQ3ivHv2Wq4EK9",
          "name": "Google Sheets account Mohit"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "12fbe7fe-5cbb-4e77-94dd-416b11be7946",
      "name": "Loop One By One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1440,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dialora.ai/webhooks/agents/webh_g9pv80tgj8uzyie1vermc6gk/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Get Pending Leads').item.json.company_name }} {{ $('Get Pending Leads').item.json.first_name }}\",\n  \"phone\": \"+{{ $('Get Pending Leads').item.json.phone }}\",\n  \"email\": \"{{ $('Get Pending Leads').item.json.email }}\",\n  \"company\": \"{{ $('Get Pending Leads').item.json.company_name }}\",\n  \"message\": \"Interested in your services\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "dfbbc68a-a3bf-4902-a842-47b61c6212ce",
      "name": "Trigger Dialora Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -32
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-a1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60e546a0-4c47-4479-88ef-4082ecd95711",
      "name": "Call Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -960,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM",
          "mode": "list",
          "cachedResultName": "Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Loop One By One').item.json.phone }}",
            "call_status": "called"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_validity",
              "displayName": "email_validity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_day",
              "displayName": "email_day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "replied_at",
              "displayName": "replied_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "called_at",
              "displayName": "called_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "036c7653-751b-4d7e-a56d-ae35b5572aa5",
      "name": "Mark As Called",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PdlQ3ivHv2Wq4EK9",
          "name": "Google Sheets account Mohit"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM",
          "mode": "list",
          "cachedResultName": "Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oaDf_usI95rt2lYJKUATee2O7qqRbYcR8cmdcXZCFVM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Loop One By One').item.json.phone }}",
            "call_status": "={{ $json.error }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "campaign_id",
              "displayName": "campaign_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_validity",
              "displayName": "email_validity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_day",
              "displayName": "email_day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "replied_at",
              "displayName": "replied_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "called_at",
              "displayName": "called_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de3a3c8c-a153-48d5-b208-399348245b31",
      "name": "Mark As Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PdlQ3ivHv2Wq4EK9",
          "name": "Google Sheets account Mohit"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -544,
        -128
      ],
      "id": "16183f45-22e6-41dc-a7a5-36e1b15a8e82",
      "name": "Wait",
      "webhookId": "1f9702c0-6785-4275-8626-b964096d65b9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        192
      ],
      "id": "9c878eae-3e9a-4275-a942-32d8806523ed",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        176
      ],
      "id": "2fdb94b1-b25d-45ef-84cc-38d43d5ab498",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Loop One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop One By One": {
      "main": [
        [],
        [
          {
            "node": "Trigger Dialora Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Dialora Call": {
      "main": [
        [
          {
            "node": "Call Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Succeeded?": {
      "main": [
        [
          {
            "node": "Mark As Called",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark As Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As Called": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As Failed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "dc5d7bde-a4d9-4980-8b9d-1c9a0f53fcc3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a44d10a4b2711883b6434f7648eb0a4b5fb97a064aba14bd9cd3992ef0bf21bb"
  },
  "id": "I4e2OEwDBpnFuhFq",
  "tags": []
}