social-media-java-tips-x/Social Media Post Automation.json
{
  "name": "Social Media Post Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2ea06e16-53e0-4e3a-994c-bb8a1d9edcad",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a unique, useful Java programming tip or fact for today that is suitable for direct posting on X (Twitter).\n\nEnsure your answer is concise and UNDER 280 characters including hashtags.\n\nIf including code, use a single-line or two-line code snippet in plain text—NO syntax highlighting or explanations.\n\nDo not include greetings or any explanations, just the tip and code if applicable.\n\nAlways end with #Java #JavaTips.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b5ea402d-97bb-476a-a959-d86f74c05e93",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5c9d5f7d-439e-4081-be43-2973c27e8022",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lNYkMA8nMW2qvJyH",
          "name": "Google Gemini(PaLM)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "15eb4b8e-149a-47c0-aca8-eb941090327d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "text": "={{ $json.output.state }}\n{{ $json.output.cities }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "9534c17f-c6e2-47ab-b4df-0055dc5e4c4d",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "LBa6Cps54tUAhEpo",
          "name": "X account oauth 2"
        }
      }
    },
    {
      "parameters": {
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        336
      ],
      "id": "eb7dbdad-cc60-41cd-88e9-914e0f67d24b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp-02-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        400
      ],
      "id": "15aa96e1-7c01-4b27-b415-9d0181258f4a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "lNYkMA8nMW2qvJyH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ba560cd-37c2-457d-81e7-41f4e827f304",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "526f89659892449f4359e4e059154fbaa57ef4f283a65ed8a22c2746476ada07"
  },
  "id": "2L6uf2PNfHrd4gsI",
  "tags": []
}